.clearfix:after{
  clear: both;
  content: ' ';
  display: block;
  height: 0;
  visibility: hidden;
}
#viewport{
  left:323px;
}
.ms-col-right{
  width:250px;
  position: fixed;
  left: 0;
  top:5px;
  height: 100%;
  background: #FFF;
}
.msCol{
  position: fixed;
  top:0px;
  width: 360px;
  height:100%;
  background: #FFF;
  padding-top: 0;
}
.msLeft{
  left:0;
  overflow-y: auto;
  z-index: 9999999;
}
.msRight{
  right:0;
}
#msSettings{
  width: 100%;
  overflow: auto;
}
#msColLeft table{
  width:100%;
  padding:0;
  border-spacing: 0;
  border-collapse: separate;
  margin-top: 47px;
}
#msColLeft tr:nth-child(even){
  background: #EEE;
}
#msColLeft tr:nth-child(odd){}
#msColLeft td{
  padding:0;
  margin: 0;
}
/* header */
.msprofile{
  display: block;
  min-height: 15px;
  padding: 10px;
  width:100%;
  background-color: #FFF;
  position: fixed;
  z-index: 9999;
  top:0;
}
.msprofile .col,
.extra-data .col{
  float: left;
  padding: 5px 10px;
  border-right: 1px solid #EEE;
}
/* DESTOP */
#facebook body{
  margin-left: 363px;
}
#facebook ._50ti{
  top:42px;
}
#msNavigation{
  padding: 13px 10px;
  background-color: #3b5998;
  border-bottom: 1px solid #29487d;
  color: #fff;
  min-height: 20px;
  position: fixed;
}
#msNavigation a{
  color: #fff;
  font-weight: 700;
  font-variant: normal;
  display: inline-block;
  padding: 0 10px;
}
#msNavigation #msRefreshUserlist{
  position: absolute;
  right: 5px;
}
.fbTimelineUnit #msPostMarkiererButton{
  margin-top: 12px;
  margin-left: 12px;
  display: inline-block;
}
.col-userpic img{}
#msColLeft td.col-data,
#msColLeft td.button-actions{
  padding-left: 10px;
}
#msColLeft td.button-actions{
  min-width: 60px;
}
.col-first_name input{
  width: 94%;
  margin-top: 5px;
  border: 0;
  padding: 5px;
  background: transparent;
}
.button-actions a{
  padding: 7px;
  margin: 0px;
  display: inline-block;
  min-width: 15px;
}
.button-actions a:hover{
  color:#FF0000;
}
.current{
  background: #ff9 !important;
}
/*Facebook*/
#globalContainer{
  margin-top: 46px;
}
#fb2k_pagelet_bluebar ._27oh{
  top:46px;
}
